div{
    max-width: 300px;
    padding: 10px;
    margin: auto;
}
.rojo{
    background-color: hsl(56,236);
}
.caja{
    padding: 15px;
        margin: auto;
        width: 70%;
        backgournd-color: #219ebc;
    
        border-radius: 5px;
        color: white;
    
}
div{
    background-color:  #0091ad;
}
.hexatransparencia{
    background-color: #0091ad88;
}
.HSL {
    background-color: hsl( 195, 100%, 50%);
}
.hsltransparencia {
    background-color: hsla(195, 100%, 50%, 0.5);
}
 *{
    background-color: dimgray;
}