h1{
    color:rgb(76, 0, 255); text-align: center;font-size:100px;';
}
#titulo{
    color: crimson;
    text-align: center;
}
.parrafo{
    text-align: center;
}
grande{
    font-size: 50px;
}
*{
    background-color: gold;

}
p.centrar{
    text-align: center;
}
.rojo{
    border:  solid firebrick;
    border-width: 10px 5px 3px 2px;
    border-width: 5px;
    border-radius: 10px;
}



.rosa{
     border: dashed hotpink;
     border-width: 10px 5px 3px 2px;
     border-width: thick;
}



.amarillo{
     border:  double rgb(0, 255, 42);
     border-width: 10px 5px 3px 2px;
    
}



.azul{
     border:  dotted turquoise;
     border-width: 10px 5px 3px 2px;
}
